._toobar{
    display: flex;
    justify-content: center;
    border-top: 4px solid var(--base-color-efect);
    gap: 24px;
    //background-color: var(--cor-fundo);
}

.cor_text{
    color: var(--text-color);
}


@media screen and (max-width: 670px){
    ._toobar{
        height: 100px;
    }
}