<div id="app-header">
    <mat-toolbar class="_toobar" color="primary" #container >
        
        <div class="example-button-row  _list cor_text" #angularIcon>
            <img src="/assets/icons/angular-icon-seeklogo.svg" alt="">
        </div>
        
        
        <div class="example-button-row  _list _lista" #divH>
            <button mat-button color="accent" (click)="navigateToHeader()">Home</button>
            <button mat-button color="accent" (click)="navigateToSobreMim()">Sobre Mim</button>
            <button mat-button color="accent" (click)="navigateToSkills()">SKills</button>
            <button mat-button color="accent" (click)="navigateToProject()">Projetos</button>
            <button mat-button color="accent" (click)="navigateToContact()">Contato</button>
        </div>
        
    </mat-toolbar>
</div>
