<mat-toolbar class="_toobar" color="primary" #container>
    
    <div class="example-button-row  _list cor_text" #angularIcon>
        <img src="/assets/icons/angular-icon-seeklogo.svg" alt="">
    </div>
    
    
    <div class="example-button-row  _list _lista" #divH>
        <button mat-button color="accent">Home</button>
        <button mat-button color="accent">Sobre Mim</button>
        <button mat-button color="accent">SKills</button>
        <button mat-button color="accent">Projetos</button>
        <button mat-button color="accent">Contato</button>
    </div>

</mat-toolbar>
