<section class="_container" color="primary" #container >

    <h2 class="sobre" id="sobremim">Sobre <strong>Mim</strong></h2>
    

<div class="_sobre-mim" >


    <div class="_cont">
        <div class="_limite" #conteudo>
            <p class="_texto-sobre">
                Meu nome é Gilson C. Souza estudante de Analise e
                Desenvolvimento de Sistemas na Fatec de Mogi das Cruzes.
            </p>
            <p class="_texto-sobre">
                Fascinado pelo mundo da tecnologia tenho um perfil cooperativo
                que valoriza o trabalho em equipe e o desenvolvimento pessoal
                por meio da troca de experiencias e conhecimento, 
            </p>
            <p class="_texto-sobre">
                Estou buscando uma oportunidade de transição de carreira para 
                Desenvolvimento de Sotware full stack.     
            </p>
        </div>
        
    </div>

    <div class="_cont">
        <div #imagemConteudo>
            <img class="_imgsobre" src="./assets/kisspng-web-development-computer-programming-software-deve-coder-5ac6d6174e5dc9.900009421522980375321.png" alt="">
        </div>
    </div>
    
    

</div>

</section>
