.titulo{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 64px;
   
    
}
h2{
    font-size: 32px;
}
h3{
    font-size: 32px;
}

.container{
    background-color: var(--base-color);
    color: white;
    width: 100%;
    
}



.container-skills{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    background-image: url(/assets/skills.jpeg);
    border-radius: 30px;
    border: solid 2px var(--text-color);
    margin: 0 auto;
    max-width: 60%;
    height: 500px;   
}

.skills-icones{ 
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    max-height: 300px; 
    gap: 32px;
}

.skills{ 
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    min-width: 300px;
    width: 300px;
    min-height: 150px;
    gap: 32px;
    text-align: center;
}

.skills{
    span{
        font-size: 0.850rem;
        text-align: center;
    }
}

.titulo-skills{
    text-align: center;
}


.icones{
    cursor: pointer;
}

.conhecidas{
    padding: 4px;
    border: none;
    margin: 2px;
    color: #fff;
}

.icons{
    max-width: 50px;
    max-height: 50px;
}

.textSkill{
    padding: 8px;    
}

@media screen and (max-width: 970px){
    .container-skills{
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        min-width: 75%;
    }
}


@media screen and (max-width: 670px){

    .container-skills{
        min-width: 80%;
        justify-content: center;
        gap: 16px;
    }

    .icons{
        max-width: 40px;
        max-height: 40px;
    }

    .skills-icones{        
        justify-content: center;         
    }
}