
<div class="_presentation" #container>


    <div class="_present" #imagemPresent>
        <div class="_imgdisplay">
            <img class="_img-present" src="/assets/ReadyPlayerMe-Avatar.png" alt="avatar">
        </div>
    </div>

    <div class="_present" >

        <div class="_text">
            <div class="_texto-present">
                <span #nome>
                    Gils<strong>on C.</strong> Souza
                </span>
                <span #sobrenome>
                    Developer - <strong>Full Stack</strong>
                </span>
            </div>
            <button mat-raised-button color="accent" class="_button-present" #linkedin>
                Linkedin
            </button>
            <div class="example-button-row  _list-present">            
                <img class="_icon" src="/assets/icons8-telegram.svg" alt="" #telegram>               
                <img class="_icon" src="/assets/icons8-whatsapp.svg" alt="" #whats>
                <img class="_icon" src="/assets/icons8-github.svg" alt="" #github>               
            </div>
        </div>
    </div>

   
</div>