 
._presentation{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    box-sizing: border-box; /* Isso inclui a largura e altura junto com padding e bordas */
    background: url('../../../assets/fundoparallax4.webp') center/cover no-repeat;
}

._present{
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;
    width: 600px;
    height: 400px;
}

._text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    gap: 42px;
}

._imgdisplay{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
}

._texto-present{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: auto;
    gap: 32px;
    color: white;
}

._button-present{
    color: var(--text-color);
    font-size: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 220px;
    height: 55px;
    margin: 0 auto;
}

._button-present:hover{
    background-color: var(--text-color);
    color: #fff;
}

._img-present{
    align-items: center;
    max-width: 400px;
}

._list-present{
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    gap: 32px;
}

._icon{
    transition: transform 0.1s ease;
}

._icon:hover{
    animation: subirDescer 1s ease-in-out;
}


@keyframes subirDescer {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 970px){
    
   

    
    ._presentation{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 4px;
        margin: 0 auto;
    }

    ._present{
        justify-content: center;
        text-align: center;
        height: 300px;
    }

   
}

@media screen and (max-width: 670px){


    ._presentation{
        padding: 64px 16px 64px 16px;
        
    }
    ._present{
        width: 350px;
    }

    ._imgdisplay{
        width: 350px;
        height: 300px;
    }

    ._img-present{
        max-width: none;
        width: 350px;
        height: 300px;
    }


    ._img-present{
        max-width: 350px;
    }

    ._texto-present{
        font-size: 1.5rem;
        height: auto;
        gap: 24px;
        color: white;
    }

}